@import "src/styles/abstracts/variables";


.button {
  display: grid;
  align-items: center;
  width: 15.5rem;
  height: 3rem;
  border: none;
  border-radius: .25rem;
  font-size: 1.3rem;
  color: $secondary-color;
  background-color: #282828;
  cursor: pointer;
  margin: .5rem auto;
  @extend %btn-hover-active
}

@media screen and (max-width: 1025px) and (min-width: 751px) {
  .button {
    &:hover {
      transform: none;
      box-shadow: none;
    }
    &:active {
      transform: none;
      box-shadow: none;
    }
  }
}

@media screen and (max-width: 750px) {
  .button {
    width: 95%;
    &:hover {
      transform: none;
      box-shadow: none;
    }
    &:active {
      transform: none;
      box-shadow: none;
    }
  }
}