@import "src/styles/abstracts/variables";

.main_container {
  display: grid;
}

.main_container_hidden {
  display: grid;
  visibility: hidden;
}

.card_container {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  border: solid .05rem darken($secondary-color, 10%);
  background-color: $secondary-color;
  border-radius: .4rem;
  font-size: 2rem;
  width: 45rem;
  justify-self: center;
  justify-items: center;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
}

.name {
  justify-self: left;
  margin: 1rem;
}

.symbol {
  justify-self: right;
  margin: 1rem;
}

.initialGreeting {
  grid-column: span 2;
  grid-row: span 4;
  align-self: center;
  font-size: 4.4rem;
}


.price {
  grid-column: span 2;
  grid-row: span 3;
  align-self: center;
  font-size: 4.4rem;
}

.price_span {
  font-size: 2.4rem;
}

.stock_change_container {
  font-size: 2rem;
}

.price_change_green {
  background-color: $stock-change-green;
  @extend %stock-change
}
.price_change_red {
  background-color: $stock-change-red;
  @extend %stock-change
}

@media screen and (max-width: 750px){
  .card_container {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    background-color: $secondary-color;
    border-radius: .2rem;
    font-size: 1rem;
    width: 95%;
    justify-self: center;
    margin-bottom: 2rem;
    max-height: 20rem;
  }

  .price {
    font-size: 2.4rem;
  }

  .initialGreeting {
    font-size: 2.4rem;
    grid-row: span 5;
  }

  .price_span {
    font-size: 1.4rem;
  }

  .stock_change_container {
    font-size: 1.5rem;
  }
  .price_change_green {
    font-size: 1.25rem;
    padding: 0;
  }
  .price_change_red {
    font-size: 1.25rem;
    padding: 0;
  }
}

@media screen and (max-width: 360px) {
  .stock_change_container {
    font-size: 1.2rem;
  }
  .price_change_green {
    font-size: 1.2rem;
  }
  .price_change_red {
    font-size: 1.2rem;
  }
}