@import "src/styles/abstracts/variables";


.container {
  display: grid;
  gap: .1rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 0 auto 2rem auto;
}

.header_card_special {
  align-self: center;
  font-size: 1.5rem;
  text-shadow: 0 0 .01rem black;
  justify-self: center;
}

.icon_container {
  display: grid;
  justify-items: center;
  align-items: center;
}

img {
  max-width: 50%;
  max-height: 50%;
}

.trade_link {
  text-decoration: none;
}


@media screen and (min-width: 1800px) {
  .container {
    max-width: 65%;
  }

  img {
    max-width: 40%;
    max-height: 40%;
  }
}

@media screen and (max-width: 550px){
  img {
    max-width: 85%;
    max-height: 85%;
  }
}


@media screen and (max-width: 374px){
  .header_card_special {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 320px){
  .header_card_special {
    font-size: 1rem;
  }

  img {
    max-width: 95%;
    max-height: 95%;
  }


}