$primary-color: #282828;
$secondary-color: #F2F2F2;
$tertiary-color: rgba(152, 66, 211, .125);
$stock-change-green: #3CB371FF;
$stock-change-red: #FF0000FF;
$bdr-radius: .4rem;
$txt-shadow: 0 0 .01rem black;

@mixin shadow {
  box-shadow: .5rem .5rem 1rem;
}

@mixin no-hover-no-active {
  &:hover {
    transform: none;
    box-shadow: none;
  }
  &:active {
    transform: none;
    box-shadow: none;
  }
}

%btn-hover-active {
  transition: all .1s;
  &:hover {
    transform: translate(-.1rem, -.1rem);
    box-shadow: .5rem .5rem 1.5rem rgb(49, 47, 47);
  }
  &:active {
    transform: translateY(0);
    box-shadow: none;
  }
}
%stock-change {
  grid-column: span 2;
  margin:  0 .5rem;
  padding: 0 .25rem;
  border-radius: $bdr-radius;
}
